* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: circle;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #9292ED;
  color: #FFFFFF;
  font-size: 16px;
}

.title {
  background-color: #000000; 
  color:#FFFFFF;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-decoration: none; 
  font-size: 40px;
  font-family: monospace;
  position: absolute;
  left: 38%;
  top: 1.5%;
  opacity: 80%;
}

.title:hover {
  background-color: black;
  filter: invert(100%);
  opacity: 80%;
}

.subtitle {
  font-size: 30px;
  font-family: monospace;
  width: 50%;
  position: absolute;
  left: 27%;
  top: 32%;
  text-align: center;
}

.logo_gift0 {
  position: absolute;
  transform: scale(0.1); 
  left: -16%;
  filter: invert(100%);
  bottom: 55%;
}

.account_icon {
  position: absolute;
  transform: scale(0.074);
  left: 75%;
  filter: invert(100%);
  bottom: 48%;
}

.retangulo_top{
  position: absolute;
  left: 300px;
  transform: scale(3.0, 0.8);
  bottom: 80%;
  opacity: 55%;
  z-index: -2;
}

.retangulo_mid {
  position: absolute;
  left: 25%;
  bottom: 29%;
  transform: scale(1.1, 3);
  opacity: 20%;
  z-index: -2;
}


.instituicoes_parceiras{
  font-size: 18px;
  font-family: monospace;
  width: 30;
  position: absolute;
  bottom: -40%;
  left: 40%;
  text-align: center;
}

.hand{
  position: absolute;
  transform: rotate(-20deg) scale(0.4);
  left: -8%;
  opacity: 80%;
  filter: invert(100%);
  bottom: 32%;
}

.img-5{
  position: absolute;
  transform: rotate(15deg) scale(0.4);
  left: 70%;
  bottom: -10%;
  opacity: 80%;
  filter: invert(100%);
     
}

.retangulo_instituicoes_parceiras {
   position: absolute;
   left: -3%;
   bottom: -50%;
   opacity: 62%;
   z-index: -2;
   transform: scale(4.0,3.0);
   font-family: monospace;
}

.logo_lasalle{ 
 position: absolute;
 bottom: -74%;
 transform: scale(0.4, 0.4);
 left: -10%;
}

.logo_gift1 {
  position: absolute;
  transform: scale(0.11); 
  left: 77%;
  filter: invert(100%);
  bottom: -98%;
}

.atualizacoes {
  position: absolute;
  bottom: -65%;
  left: 37%;
  transform: scale(0.4);
  filter: invert(40%);
  font-family: monospace;
}

.instagram_icon {
  transform: scale(0.05);
  bottom: -101%;
  left: -33%;
  position: absolute;
}

.gmail_icon {
  transform: scale(0.1);
  bottom: -16%;
  left: 11%;
  position: absolute;

}
