* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: circle;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #9292ED;
  color: #FFFFFF;
  font-size: 16px;
}

#title {
  cursor: pointer;
  background-color: #9292ED;
  color:#FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  font-family: monospace;
  font-size: 40px;
  position: absolute;
  top: 1.5%; 
  left: 8%;
  background-color: transparent;
}

#title:hover {
  background-color: #9292ED;
  opacity: 80%;
}

.subtitle {
  font-size: 18px;
  font-family: monospace;
  width: 35%;
  position: absolute;
  left: 34%;
  top: 20%;
  text-align: center;
}

.logo_gift0 {
  position: absolute;
  transform: scale(0.1); 
  left: -16%;
  filter: invert(100%);
  bottom: 55%;
}

.account_icon {
  position: absolute;
  transform: scale(0.074);
  left: 75%;
  filter: invert(100%);
  bottom: 48%;
}

.retangulo_top{
  position: absolute;
  left: 300px;
  transform: scale(3.0, 0.8);
  bottom: 80%;
  opacity: 55%;
  z-index: -2;
}

.retangulo_mid {
  position: absolute;
  left: 25%;
  bottom: 39%;
  transform: scale(0.8, 2.7);
  opacity: 20%;
  z-index: -2;
}


.instituicoes_parceiras{
  font-size: 18px;
  font-family: monospace;
  width: -35;
  position: absolute;
  bottom: -290%;
  left: 40%;
  text-align: center;
}

.hand{
  position: absolute;
  transform: rotate(-20deg) scale(0.4);
  left: -8%;
  opacity: 80%;
  filter: invert(100%);
  bottom: 32%;
}

.img-5{
  position: absolute;
  transform: rotate(15deg) scale(0.4);
  left: 70%;
  bottom: -10%;
  opacity: 80%;
  filter: invert(100%);
     
}

.searchbar{
  position: absolute;
  transform: scale(0.08);
  filter: invert(100%);
  bottom: 55%;
  left: 73%;
}

.coco {
  position: absolute;
  opacity: 0;
  z-index: -15;
}

.list {
  position: absolute;
  transform: scale(0.1);
  left: 70%;
  bottom: 55%;
  filter: invert(100%);
  opacity: 0%;
}

.novidades {
  position: absolute;
  left: 36%;
  font-size: 70px;
  font-family: monospace;
  transform: translateY(650px);
}

.retangulo_nov {
  position: absolute;
  bottom: -20%;
  opacity: 62%;
  z-index: -2;
  left: 23.7%;
  transform: scale(0.62, 0.6);
}

.list_nov0 { /* HOJE */
  position: absolute;
  left: 25%;
  font-size: 50px;
  font-family: monospace;
  transform: translateY(750px);
}

.list_nov1 { /* RECENTE */
  position: absolute;
  left: 65%;
  font-size: 50px;
  font-family: monospace;
  transform: translateY(750px);
}

.retangulo_hoje {
  position: absolute;
  bottom: -80%;
  opacity: 45%;
  z-index: -2;
  transform: scale(0.5, 3);
  left: 3%;
}

.retangulo_recente {
  position: absolute;
  bottom: -80%;
  opacity: 45%;
  z-index: -2;
  transform: scale(0.5, 3);
  left: 46.5%;
}

.doar {
  position: absolute;
  font-family: monospace;
  left: 32.5%;
  transform: translateY(1460px);
  width: 40%;
  font-size: 50px;
  text-align: center;
}

/*.retangulo_parallax {
  position: absolute;
  background-image: url(img/img-12.png);
  background-size: 100% 200%px;
  background-position: 0% 50%;
  background-attachment: fixed;
  height: 200px;
  width: 100%;
}*/

.retangulo_instituicoes {
  position: absolute;
  bottom: -141%;
  opacity: 62%;
  z-index: -2;
  transform: scale(0.5, 0.5);
  left: 25.7%;
}

/*.cidades{
  position: absolute;
  transform: translatey(1680px);
  left: 33%;
  font-family: monospace;
  width: 40%;
  text-align: center;
  font-size: 27px;
}*/

.cidades_proximas{
position: absolute;
left: 39%;
transform: translatey(1570px);
font-size: 40px;
}

.retangulo_cidades{
  position: absolute;
  left: 26%;
  bottom: -210%;
  opacity: 55%;
  transform: scale(0.6,3.9);
  z-index: -2;
}

.retangulo_instituicoes_parceiras {
   position: absolute;
   left: -3%;
   bottom: -310%;
   opacity: 62%;
   z-index: -2;
   transform: scale(4.0,3.0);
   font-family: monospace;
}

.logo_lasalle{ 
 position: absolute;
 bottom: -334%;
 transform: scale(0.4, 0.4);
 left: -10%;
}

.logo_gift1 {
  position: absolute;
  transform: scale(0.11); 
  left: 77%;
  filter: invert(100%);
  bottom: -355%;
}

.atualizacoes {
  position: absolute;
  bottom: -326%;
  left: 37%;
  transform: scale(0.4);
  filter: invert(40%);
  font-family: monospace;
}

.fale_conosco {
  position: absolute;
  bottom: -323.5%;
  left: 93.5%;
  font-family: monospace;
  font-size: 10px;
  color:#ffffff;
  background-color: #000000;
  /*text-shadow: 0px 0px 10px rgb(255, 255, 255),
               0px 0px 20px rgb(255, 255, 255),
               0px 0px 40px rgb(255, 255, 255),
               0px 0px 80px rgb(255, 255, 255);*/
}

/*.retangulo_fale_conosco {
  position: absolute;
  bottom: -337.5%;
  opacity: 70%;
  z-index: -2;
  transform: scale(0.15, 0.15);
  left: 70%;
}*/

.button_doar {
  position: absolute;
  left: 41%;
  font-size: 20px;
  bottom: 91.5%;
  color: #ffff;
}

.button_parceiras {
  position: absolute;
  left: 62%;
  font-size: 20px;
  bottom: 91.5%;
  color: #ffff;
}

.button_contato {
  position: absolute;
  left: 72%;
  font-size: 20px;
  bottom: 91.5%;
  color: #ffff;
}

.button_novidades {
  position: absolute;
  left: 50%;
  font-size: 20px;
  bottom: 91.5%;
  color: #ffff;
}

.cidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -165%;
  left: 33%;
  font-family: monospace;
  width: 40%;
  text-align: center;
  transform: scale(1.8, 1.8);
}

#cidades-proximas {
  background-color: #000000;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  filter: invert(100%);
}

#cidades-proximas:hover {
  background-color: #9292ED;
  filter: invert(0%);
}

#cidades-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#cidades-lista button {
  background-color: #000000;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  filter: invert(100%);
}

#cidades-lista button:hover {
  background-color: #9292ED;
  filter: invert(0%);
}

#instituicoes-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#instituicoes-lista button {
  background-color: #000000;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  filter: invert(100%);
}

#instituicoes-lista button:hover {
  background-color: #9292ED;
  filter: invert(0%);
}

/*.canoas {
  position: absolute;
  bottom: 50%;
}

.porto-alegre {
  position: absolute;
  bottom: 70%;
}

.cachoeirinha {
  position: absolute;
  bottom: 90%;
}*/