body {
  font-family: Arial, sans-serif;
  background-color: #9292ED;
}

.container {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transform: scale x(700px);
  filter: invert(100%);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

#entrar-btn,
#cadastrar-btn {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#entrar-btn:hover,
#cadastrar-btn:hover {
  background-color: #9292ED;
  color: white;
  filter: invert(100%);
/*inversão inversa !!!SE TA FUNCIONANDO NÃO TOCA!!! ;) */
}

.cadastro-container {
  display: none;
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  filter: invert(100%);
}

#cadastro-link {
  text-decoration: none;
  color: #0e0e0e;
}

#cadastro-link:hover {
  color: #9292ED;
  filter: invert(100%);
}
